body {
    background-color: yellow;
    /* height: 100vw;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.btn {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.container {
    display: flex;
    width: 640px;
    height: 640px;
    background-color: white;
    flex-wrap: wrap;
}

.divs {
    box-sizing: border-box;
    border: 1px solid black;
    flex: 0 0 auto;
}

.hover {
    background-color: black;
}